[gerrit]
	basePath = /my_services/gerrit/code
	canonicalWebUrl = http://NEWIPADRESS:8080/
[database]
	type = postgresql
	hostname = postgres.raspberry.pi
	database = reviewdb
	username = gerrit2
[index]
	type = LUCENE
[auth]
	type = LDAP
[ldap]
	server = ldap://ldap.raspberry.pi/
	username = CN=admin,DC=ldap,DC=raspberry,DC=pi
	accountBase = ou=development,dc=ldap,dc=raspberry,dc=pi
	groupBase = ou=development,dc=ldap,dc=raspberry,dc=pi
	accountFullName = ${givenName} ${sn}
	accountEmailAddress = mail
[receive]
	enableSignedPush = false
[sendemail]
	enable = SMTPENABLE
	smtpServer = SMTPSERVER
	smtpUser = SMTPUSER
	smtpServerPort = SMTPPORT
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/jdk-8-oracle-arm32-vfp-hflt/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[gitweb]
	cgi = /usr/lib/cgi-bin/gitweb.cgi
[commentLink "its-bugzilla"]
    match = [Bb][Uu][Gg][ ]*([1-9][0-9]*)
    html = "<a href=\"http://NEWIPADRESS/bugzilla/show_bug.cgi?id=$1\">(bug $1)</a>"
    association = MANDATORY
