[gerrit]
	basePath = /my_services/gerrit/code
	serverId = 13b1ca19-8f15-4e98-9d59-bd71e8addf1b
	canonicalWebUrl = http://NEWIPADRESS:8080/
[database]
	type = mariadb
	hostname = mysql.raspberry.pi
	database = reviewdb
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = LDAP
[ldap]
	accountFullName = ${givenName} ${SN}
	server = ldap://ldap.raspberry.pi/
	username = CN=admin,DC=ldap,DC=raspberry,DC=pi
	accountBase = ou=people,dc=ldap,dc=raspberry,dc=pi
	groupBase = ou=groups,dc=ldap,dc=raspberry,dc=pi
[receive]
	enableSignedPush = false
[sendemail]
 	enable = SMTPENABLE
 	smtpServer = SMTPSERVER
 	smtpServerPort = SMTPPORT
 	smtpUser = SMTPUSER
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/jdk-8-oracle-arm32-vfp-hflt/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[commentLink "mantisbt"]
	match = [Bb][Uu][Gg][ ]*([0-9]*)
	html = "<a href=\"http://NEWIPADRESS/mantisbt/view.php?id=$1\">Bug $1</a>"
	association = MANDATORY
[hooks]
	path = /my_services/gerrit/hooks

[gitweb]
	cgi = /usr/lib/cgi-bin/gitweb.cgi
