[gerrit]
	basePath = /my_services/gerrit/code
	serverId = 1eefae98-da61-4fa8-88f2-3c20f1972f2f
	canonicalWebUrl = http://NEWIPADRESS:8080/
[database]
	type = mysql
	hostname = mysql.raspberry.pi
	database = reviewdb
	username = gerrit
[auth]
	type = LDAP
[ldap]
	server = ldap://ldap.raspberry.pi/
	username = CN=admin,DC=ldap,DC=raspberry,DC=pi
	accountBase = ou=people,dc=ldap,dc=raspberry,dc=pi
	groupBase = ou=groups,dc=ldap,dc=raspberry,dc=pi
	accountFullName = ${givenName} ${SN}
[receive]
	enableSignedPush = false
[sendemail]
	enable = SMTPENABLE
	smtpServer = SMTPSERVER
	smtpServerPort = SMTPPORT
	smtpUser = SMTPUSER
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/jdk-8-oracle-arm32-vfp-hflt/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[commentLink "mantisbt"]
	match = [Bb][Uu][Gg][ ]*([0-9]*)
	html = "<a href=\"http://NEWIPADRESS/mantisbt/view.php?id=$1\">Bug $1</a>"
	association = MANDATORY
[hooks]
	path = /my_services/gerrit/hooks
[gitweb]
	cgi = /usr/lib/cgi-bin/gitweb.cgi
